*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body{
    

}

nav{
    margin: 50px;
    background-color: rgb(223, 217, 217);
}

   header{
    background-color: rgb(177, 191, 202);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
   }

.informacao{
    margin: 50px;
     text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
    
